In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
!gdown --id 1rOHlPqR_ewdJXIV8yQyK75a0XT7m8nQX
!unzip /content/Trip-AID-main.zip

Downloading...
From: https://drive.google.com/uc?id=1rOHlPqR_ewdJXIV8yQyK75a0XT7m8nQX
To: /content/Trip-AID-main.zip
2.39MB [00:00, 76.7MB/s]
Archive:  /content/Trip-AID-main.zip
fc5a5b3eb9e48fe8aee781c8f35b3da4f0185bfc
   creating: Trip-AID-main/
   creating: Trip-AID-main/Baseline-Data/
  inflating: Trip-AID-main/Baseline-Data/Active Cases.csv
  inflating: Trip-AID-main/Baseline-Data/Dataset.npy
  inflating: Trip-AID-main/Baseline-Data/Deaths.csv
  inflating: Trip-AID-main/Baseline-Data/District_list.npy
  inflating: Trip-AID-main/Baseline-Data/Recoveries.csv
  inflating: Trip-AID-main/Baseline-Data/Total Cases.csv
 extracting: Trip-AID-main/README.md

In [ ]:
active=pd.read_csv('/content/Trip-AID-main/Baseline-Data/Active Cases.csv')
total=pd.read_csv('/content/Trip-AID-main/Baseline-Data/Total Cases.csv')
# deaths=pd.read_csv('/content/Trip-AID-main/Baseline-Data/Deaths.csv')
# recover=pd.read_csv('/content/Trip-AID-main/Baseline-Data/Recoveries.csv')

In [ ]:
active.head()

            State        District  Jan 30  ...  January 18  January 19  January 20
0  Andhra Pradesh  Andhra Pradesh     0.0  ...      1713.0      1660.0      1637.0
1  Andhra Pradesh       Anantapur     0.0  ...        54.0        52.0        54.0
2  Andhra Pradesh        Chittoor     0.0  ...       128.0       138.0       143.0
3  Andhra Pradesh   East Godavari     0.0  ...       193.0       193.0       201.0
4  Andhra Pradesh          Guntur     0.0  ...       284.0       260.0       248.0

[5 rows x 359 columns]

In [ ]:
tempoe=np.array(active.drop(['State','District'],axis=1)).astype('float32')
tempoe.shape
l=[]
for i in range(815):
  for j in range(357):
    if tempoe[i][j]<0: l.append(i)
unique, counts = numpy.unique(np.array(l), return_counts=True)
dict(zip(unique, counts))

{8: 1,
 14: 20,
 30: 1,
 36: 2,
 46: 1,
 56: 2,
 76: 8,
 103: 9,
 109: 1,
 116: 8,
 146: 22,
 148: 2,
 149: 6,
 156: 43,
 169: 1,
 185: 22,
 209: 21,
 223: 102,
 249: 1,
 255: 1,
 267: 2,
 268: 1,
 281: 7,
 291: 1,
 297: 6,
 298: 1,
 301: 2,
 302: 1,
 304: 1,
 307: 9,
 314: 10,
 318: 1,
 326: 3,
 341: 6,
 354: 11,
 361: 1,
 367: 1,
 370: 1,
 374: 3,
 375: 2,
 392: 2,
 410: 50,
 413: 3,
 415: 1,
 417: 2,
 418: 1,
 419: 25,
 421: 3,
 423: 46,
 433: 5,
 442: 4,
 447: 12,
 452: 1,
 453: 1,
 454: 2,
 459: 1,
 477: 1,
 479: 9,
 482: 1,
 484: 7,
 485: 1,
 486: 7,
 487: 4,
 491: 4,
 496: 1,
 501: 2,
 503: 14,
 525: 1,
 538: 103,
 560: 2,
 562: 38,
 572: 4,
 575: 20,
 576: 4,
 577: 7,
 578: 17,
 579: 40,
 584: 44,
 585: 5,
 587: 5,
 588: 5,
 590: 5,
 593: 5,
 594: 5,
 598: 5,
 600: 5,
 601: 5,
 607: 5,
 610: 5,
 611: 5,
 617: 7,
 619: 27,
 625: 3,
 629: 5,
 706: 34,
 711: 1,
 721: 3,
 725: 2,
 732: 1,
 737: 1,
 746: 3,
 759: 112,
 769: 1,
 781: 1,
 785: 19,
 789: 5,
 801: 5,
 804: 1,
 807: 4,
 810: 4,
 813: 137}

In [ ]:
# activeback=active.iloc[[752,786]]
# activeback
active.drop(active.tail(8).index,inplace=True)
bl=active['State']!=active['District']
bl[752]=True
bl[786]=True
active = active[bl]
active.reset_index(drop=True,inplace=True)

In [ ]:
def cleaner(liste,df,colname):
  liste=set(liste)
  bl=[]
  for i,el in enumerate(df[colname]):
    if el not in liste: bl.append(i)
  df=df.iloc[bl,:]
  df.reset_index(drop=True,inplace=True)
  df.head()
  return df
list_state=['Assam (3 Migrated)','Haryana (Include 14 Italians and Foreign Returnee in Unknown)',
"Himachal Pradesh (11 Migrated)","Madhya Pradesh* does not include migrant's data",
'Maharashtra* does not include 25 migrant workers data (23 active)','District Wise Total (w/out unknown)',
'Unknown Total','District Wise Total','MOHFW','Check']
list_dist=['Andhra Pradesh','Unknown (migrants and foreign returnees)','Arunachal Pradesh','Unknown',
       'Assam','Bihar','Goa','Gujarat','Others']
active=cleaner(list_state,active,'State')
active=cleaner(list_dist,active,'District')
# active=pd.concat([active,activeback])

In [ ]:
# totalback=total.iloc[[752,786]]
# totalback

In [ ]:
total.drop(total.tail(10).index,inplace=True)
bl=total['State']!=total['District']
bl[752]=True
bl[786]=True
total = total[bl]
total.reset_index(drop=True,inplace=True)

In [ ]:
total['State'].unique()
list_state=['Assam (3 Migrated)','Haryana (Include 14 Italians and Foreign Returnee in Unknown)',
            'Himachal Pradesh (11 Migrated)',"Madhya Pradesh* does not include migrant's data",
            'Maharashtra* does not include 25 migrant workers data',
            'Unknown','Unknown (migrants and foreign returnees)',
            'Rajasthan* does not include 2 Italians & 61 Evacuees Passengers',
            'District Wise Total (formula)','Unknown Total','District Wise Total (value only)','MOHFW','Check',
            '%','check 2','Others']
total = cleaner(list_state,total,'State')
list_dist=['Others','Unknown (migrants and foreign returnees)','Unknown']
total = cleaner(list_dist,total,'District')
# total=pd.concat([total,totalback])

In [ ]:
total['District'].unique()

In [ ]:
active.iloc[:,2:] = active.iloc[:,2:].astype('float32')
total.iloc[:,2:] = total.iloc[:,2:].astype('float32')

In [ ]:
dc.head()

In [ ]:
!gdown --id 1nvaozXa8NFIJ8ROG0WODf7XYi-ROx0KY
dc=pd.read_csv('/content/Deaths_cleaned.csv')
!gdown --id 1-13v5mo8YoesZ0u25GpJutwF4yu2gZ7z
rc=pd.read_csv('/content/Recoveries_cleaned.csv')
dc=dc.drop(['Unnamed: 0'],axis=1)
rc=rc.drop(['Unnamed: 0'],axis=1)

Downloading...
From: https://drive.google.com/uc?id=1nvaozXa8NFIJ8ROG0WODf7XYi-ROx0KY
To: /content/Deaths_cleaned.csv
100% 1.19M/1.19M [00:00<00:00, 72.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1-13v5mo8YoesZ0u25GpJutwF4yu2gZ7z
To: /content/Recoveries_cleaned.csv
100% 1.46M/1.46M [00:00<00:00, 86.0MB/s]

In [ ]:
active=active.sort_values(by=['District'])
total=total.sort_values(by=['District'])
dc=dc.sort_values(by=['District'])
rc=rc.sort_values(by=['District'])
dc=dc.reset_index()
rc=rc.reset_index()

In [ ]:
active.shape

(734, 359)

In [ ]:
print(total.shape,active.shape,rc.shape,dc.shape)
total['District'].equals(active['District']) 
# deaths.District.equals(rec.District)

(736, 359) (734, 359) (736, 359) (736, 359)

False

In [ ]:
total.shape

(736, 359)

In [ ]:
x=set(total['District'])
y=set(dc['District'])
for i in x:
  if i not in y: print(i)

In [ ]:
dc=dc.drop(['Unnamed: 0'],axis=1)

In [ ]:
dc.iloc[690:699]

In [ ]:
active.iloc[690:699]

In [ ]:
for i in range(len(dc['District'])):
  if dc['District'][i]!=total['District'][i] : print(dc['District'][i],' ',total['District'][i],' ',i)

In [ ]:
dc.tail()

In [ ]:
total.tail()

In [ ]:
print(total['District'].equals(active['District']),
rc['District'].equals(dc['District']),
rc['District'].equals(total['District']),
dc['District'].equals(active['District']))

True True True True

In [ ]:
print(total.shape,active.shape)

(736, 359) (736, 359)

In [ ]:
active.to_csv('Active_Cases_Cleaned.csv',index=False)
total.to_csv('Total_Cleaned.csv',index=False)

# Cleaned_Data_Merging

In [ ]:
!gdown --id 1tDRXqm_vdudtOmv_FCKYaU-Pwulub5S5
!gdown --id 1-13v5mo8YoesZ0u25GpJutwF4yu2gZ7z
!gdown --id 1mDN5I7LQigF3XdewHQBjzFDRO26rQXjc
!gdown --id 1nvaozXa8NFIJ8ROG0WODf7XYi-ROx0KY

Downloading...
From: https://drive.google.com/uc?id=1tDRXqm_vdudtOmv_FCKYaU-Pwulub5S5
To: /content/Active_Cases_Cleaned.csv
100% 1.34M/1.34M [00:00<00:00, 84.4MB/s]
Downloading...
From: https://drive.google.com/uc?id=1-13v5mo8YoesZ0u25GpJutwF4yu2gZ7z
To: /content/Recoveries_cleaned.csv
100% 1.46M/1.46M [00:00<00:00, 92.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1mDN5I7LQigF3XdewHQBjzFDRO26rQXjc
To: /content/Total_Cleaned.csv
100% 1.49M/1.49M [00:00<00:00, 97.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1nvaozXa8NFIJ8ROG0WODf7XYi-ROx0KY
To: /content/Deaths_cleaned.csv
100% 1.19M/1.19M [00:00<00:00, 79.3MB/s]

In [ ]:
total_cleaned=pd.read_csv('/content/Total_Cleaned.csv')
deaths_cleaned=pd.read_csv('/content/Deaths_cleaned.csv')
deaths_cleaned=deaths_cleaned.drop(['Unnamed: 0'],axis=1)
recoveries_cleaned=pd.read_csv('/content/Recoveries_cleaned.csv')
recoveries_cleaned=recoveries_cleaned.drop(['Unnamed: 0'],axis=1)
active_cleaned=pd.read_csv('/content/Active_Cases_Cleaned.csv')

In [ ]:
total_cleaned.head()

            State       District  Jan 30  ...  January 18  January 19  January 20
0  Andhra Pradesh      Anantapur     0.0  ...     67558.0     67562.0     67570.0
1  Andhra Pradesh       Chittoor     0.0  ...     86800.0     86840.0     86886.0
2  Andhra Pradesh  East Godavari     0.0  ...    124070.0    124085.0    124097.0
3  Andhra Pradesh         Guntur     0.0  ...     75295.0     75319.0     75338.0
4  Andhra Pradesh         Kadapa     0.0  ...     55177.0     55186.0     55197.0

[5 rows x 359 columns]

In [ ]:
print(total_cleaned['District'].equals(active_cleaned['District']),
recoveries_cleaned['District'].equals(deaths_cleaned['District']),
recoveries_cleaned['District'].equals(total_cleaned['District']),
deaths_cleaned['District'].equals(active_cleaned['District']))

True True True True

In [ ]:
total_cleaned.shape

(736, 359)

In [ ]:
ar5=np.ones((1,357))
ar5.shape

(1, 357)

In [ ]:
final_array=np.zeros((5,357,736)) 
np.array(total_cleaned.iloc[0,2:])
for i in range(736):
  ar1=np.array(total_cleaned.iloc[i,2:])
  ar2=np.array(deaths_cleaned.iloc[i,2:])
  ar3=np.array(recoveries_cleaned.iloc[i,2:])
  ar4=np.array(active_cleaned.iloc[i,2:])
  ar5=i*np.ones((1,357))
  final_array[0,:,i]=ar1
  final_array[1,:,i]=ar2
  final_array[2,:,i]=ar3
  final_array[3,:,i]=ar4
  final_array[4,:,i]=ar5

In [ ]:
final_array_2d=np.reshape(final_array,(5,357*736))

In [ ]:
np.save('2district',final_array_2d)

In [ ]:
final_array[:,300,1]

array([8.3342e+04, 8.2400e+02, 8.1875e+04, 6.4300e+02, 1.0000e+00])

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(total_cleaned['State'])
final_array_state=np.zeros((5,357,736)) 
np.array(total_cleaned.iloc[0,2:])
for i in range(736):
  ar1=np.array(total_cleaned.iloc[i,2:])
  ar2=np.array(deaths_cleaned.iloc[i,2:])
  ar3=np.array(recoveries_cleaned.iloc[i,2:])
  ar4=np.array(active_cleaned.iloc[i,2:])
  ar5=le.transform([total_cleaned['State'][i]])[0]*np.ones((1,357))
  final_array_state[0,:,i]=ar1
  final_array_state[1,:,i]=ar2
  final_array_state[2,:,i]=ar3
  final_array_state[3,:,i]=ar4
  final_array_state[4,:,i]=ar5
np.save('3dstate',final_array_state)

In [ ]:
final_array_state_2d=np.reshape(final_array_state,(5,357*736))
np.save('3dstate',final_array_state)
np.save('2dstate',final_array_state_2d)

In [ ]:
final_array_state.shape

(5, 357, 736)

In [ ]:
total_cleaned['State'][0]

'Andhra Pradesh'

In [ ]:
for state in total_cleaned['State']:
  thisdict[state]=i

In [ ]:
total_cleaned.head()

            State       District  Jan 30  ...  January 18  January 19  January 20
0  Andhra Pradesh      Anantapur     0.0  ...     67558.0     67562.0     67570.0
1  Andhra Pradesh       Chittoor     0.0  ...     86800.0     86840.0     86886.0
2  Andhra Pradesh  East Godavari     0.0  ...    124070.0    124085.0    124097.0
3  Andhra Pradesh         Guntur     0.0  ...     75295.0     75319.0     75338.0
4  Andhra Pradesh         Kadapa     0.0  ...     55177.0     55186.0     55197.0

[5 rows x 359 columns]